body, html {
	margin: 0px;
	min-height:100%;
}

.cont {
	background-color: #e8e8e8;
	margin: 15px;
	height: 100%;
}

#bizis {
	width: 382px;
	margin: auto;
}

#mapa {
	float: left;
	width: 700px;
	height: 85%;
}

#p6 {
	float: left;
	width: 550px;
	height: 570px;
}

.centrar {
	display: block;
	margin: 0 auto;
}

legend {
	text-align: center;
}

#tableTiempo {
	width: 450px;
	height: 450px;
	text-align: center;
}

#submit{
	margin: 10px auto;
}

#tableTiempo table td {
	font-size: 13px;
}
